.section-teacher{
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    padding: 60px 100px;
}

.content-teacher{
    width: 503px;
}

.content-teacher h2{
    font-family: var(--font-title);
    font-size: var(--font-h2);
    line-height: 60px;
    padding-bottom: 25px;
}

.active-teacher{
    color: var(--color-primary-orange);
}

.content-teacher p{
    font-family: var(--font-body2);
    font-size: var(--font-body);
    color: var(--color-secondary-l-gray);
    line-height: 30px;
    padding-bottom: 25px;
}