.section-differences{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px 0px;    
    background-color: #EA6D271A;
}

.section-differences h2{
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: var(--font-h2);
    font-family: var(--font-title);
    font-weight: bold;
}

.active-differences{
    color: var(--color-primary-orange);
}

.container-cards-differences{
    display: flex;
    justify-content: center;
    gap: 70px;
}

.card-differences{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
    width: 257px;
    border: 1px solid var(--color-secondary-l-gray);
    border-radius: 10px;
}

.card-differences h3{
    width: 181px;
    font-family: var(--font-title);
    font-weight: bold;
    font-size: var(--font-h3);
}

.card-differences p{
    width: 227px;
    font-family: var(--font-body2);
    font-size: var(--font-body);
    color: var(--color-secondary-l-gray);
    line-height: 30px;
}