.section-reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}

.section-reservation h2 {
  font-family: var(--font-title);
  font-size: var(--font-h2);
  padding-bottom: 25px;
  text-align: center;
}

.section-reservation h2 .active-reservation {
  color: var(--color-primary-orange);
}

.container-reservation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 80%;
  max-width: 1100px;
}

.image-reservation img {
  width: 380px;
}

.reservation-form {
  width: 100%;
  max-width: 450px;
}

.reservation-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.line-form {
  display: flex;
  gap: 10px;
}


.section-reservation input, textarea {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #5C6574;
  border-radius: 5px;
  font-family: var(--font-body2);
  font-size: var(--font-body);
}

textarea {
  height: 80px;
}

.btn-send {
  background-color: var(--color-primary-orange);
  color: var(--color-secondary-white);
  border-radius: 15px 3px;
  padding: 12px 30px;
  cursor: pointer;
  font-size: var(--font-body);
  transition: background-color 0.3s;
}

.btn-send:hover {
  background-color: var(--color-primary-orange);
}