/* ============================================== */
/* ESTILOS ESPECÍFICOS DO MAIN (LAYOUT) */
/* ============================================== */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 60px 0px;
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 562px;
}

.main-content h1{
    font-family: var(--font-title);
    font-size: var(--font-h1);
    font-weight: bold;
}

.active-experience{
    color: var(--color-primary-orange);
}

.main-content p{
    font-size: var(--font-body); 
    font-family: var(--font-body2);
    color: var(--color-secondary-l-gray); /* Cor padrão do texto (Tema Claro) */
    line-height: 30px;
}

.buttons-standard{
    display: flex;
    gap: 20px;
}

.btn-order{
    text-decoration: none;
    background-color: var(--color-secondary-dark);
    color: var(--color-secondary-white);
    font-family: var(--font-title);
    font-size: var(--font-button);
    padding: 12px 30px;
    border-radius: 15px 3px;
}

.btn-find{
    text-decoration: none;
    background-color: var(--color-primary-orange);
    color: var(--color-secondary-white);
    font-family: var(--font-title);
    font-size: var(--font-button);
    padding: 12px 30px;
    border-radius: 15px 3px;
}

/* ============================================== */
/* ESTILOS DO SLIDER (DARK MODE TOGGLE) */
/* ============================================== */
.toggle-theme {
    /* Trilho */
    width: 60px;
    height: 30px;
    background-color: var(--color-secondary-l-gray); /* Fundo padrão (Tema Claro) */
    border-radius: 150px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-top: 20px; 
}

.toggle-theme .indicador {
    /* Indicador (Bolinha) */
    background-color: var(--color-secondary-white); /* Cor padrão (Tema Claro) */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: scale(.7);
    position: absolute;
    top: 0;
    left: 0; 
    transition: left 0.3s ease, background-color 0.3s ease, transform 0.3s ease; 
}

/* --- MOVIMENTO E COR DO INDICADOR NO MODO ESCURO --- */
/* Esta regra move o indicador quando a classe 'trilho-dark' está ativa no pai */
.toggle-theme.trilho-dark .indicador {
    left: 30px; 
    background-color: var(--color-primary-orange); /* Laranja para destaque no modo dark */
}