*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --color-alerts-green:#004E05;
    --color-alerts-red:#770000;
    --color-secondary-white:#FFFFFF;
    --color-secondary-dark:#101821;
    --color-secondary-l-gray:#5C6574;
    --color-primary-orange:#EA6D27;

    /* Fontes */
    --font-title: "David Libre", serif;
    --font-body2: "Inter", sans-serif;
    --font-h1: 60px;
    --font-h2:48px;
    --font-h3:28px;
    --font-h4:22px;
    --font-button:20px;
    --font-body:16px;
}