.section-highlights{
    background-color: #EA6D271A;
    padding: 60px 0px;
}

.section-highlights h2{
    display: flex;
    justify-content: center;
    gap: 15px;
    color: var(--color-secondary-dark);
    font-family: var(--font-title);
    font-size: var(--font-h2);
    padding-bottom: 25px;
}

.active-highlights{
    color: var(--color-primary-orange);
}

.container-cards-highlights{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card-highlights{
    display: flex;
    flex-direction: column;
    align-items:  center;
    padding: 45px 15px;
    gap: 15px;
    width: 300px;    
    background-color: var(--color-secondary-white);
    border-radius: 20px 5px;
}

.card-highlights h3{
    font-family: var(--font-title);
    font-size: var(--font-h3);
    width: 174px;
    text-align: center;
}

.card-highlights p{
    font-family: var(--font-body2);
    font-size: var(--font-body);
    color: var(--color-secondary-l-gray);
    line-height: 30px;
    text-align: center;
}