.section-reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EA6D271A;
    padding: 60px 0px;
}

.section-reviews h2{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: var(--font-title);
    font-size: var(--font-h2);
    padding-bottom: 25px;
}

.active-reviews{
    color: var(--color-primary-orange);
}

.container-cards-reviews{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card-reviews{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-secondary-white);
    padding: 25px 20px;
    width: 400px;
    border-radius: 40px 8px;
}

.card-reviews h3{
    font-family: var(--font-title);
    font-size: var(--font-h4);
}

.card-reviews p{
    font-family: var(--font-body2);
    font-size: var(--font-body);
}

.card-profile{
    display: flex;
    align-items: center;
    gap: 15px;
}

.card-profile p{
    font-family: var(--font-body2);
}

.active-surname{
    color: var(--color-primary-orange);
}

.card-description{
    display: flex;
    flex-direction: column;
    gap: 5px;
}